.thumbnail-wrapper {
    margin-top: -6%;
    margin-bottom: 10px;
    width: 50%;
    margin-left: 50%;
    text-align: right;
}

.thumbnail-wrapper .slick-track .slick-slide img {
    display: flex;
    margin: 0px auto;
    width: 95%;
    opacity: 0.5;
    border-radius: 20%;
    cursor: pointer;
}

.slick-slide-image {
    max-width: 100%;
    height: auto;
}

.slick-slide-label {
    color: #fff;
    padding: 10px;
    position: absolute;
    left: 0px;
    font-size: 1.5em;
    bottom: 0px;
    width: 100%;
}

.slider-contain {
    position: relative;
    width: 100%;
}